@mixin cont-img() {
    width: 100%;
    height: 100%;   
}

@mixin --img($width, $height) {
    width: $width;
    height: $height;
    object-fit: cover;   
}

@mixin img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


// Title // --------------------------
@mixin title($position, $width) {
    width: $width;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: $position;
    justify-content: space-between;
    color: $color-blue;

   @media screen and(max-width: 425px) {
    font-size: $L;
   }
    
}

@mixin tittle-line($line-lenght) {
     width: $line-lenght;
     height: 3px;
     align-self: flex-start;
     background: $color-blue;
}

// Flex // -----------------------------
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin --flex($direction, $position) {
    display: flex;
    flex-direction: $direction;
    justify-content: $position;
    align-items: center;
}

@mixin flex-between($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-around($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-around;
    align-items: center;
}





