// Colors //
$color-blue: #31357A;
$color-orange: #EF8E32;
$color-grey: #888B8C;
$color-skyblue: #87C3CA;

// Test Colors //
$t1: rgba(128, 128, 128, 0.575);
$t2: rgba(255, 0, 0, 0.589);
$t3: rgba(0, 0, 255, 0.603);
$t4: rgba(0, 128, 0, 0.603);

//Fonts //
$font-family-0: verdana;
$font-family-1: 'Myria-Pro';

//Font Size //
$XXL: 70px;
$XL: 50px;
$X: 40px;
$L: 30px;
$M: 25px;
$S: 20px;
$XS: 16px;

h2 {
    font-size: 35px;
}



