//General//
@import "./vars";
@import "./mixins";
@import "./components";
@import "./nav";
@import './slider';

//Home// 
@import "./home/header";
@import "./home/DVBE";
@import "./home/two-points";
@import './home/some-costumer-review';
@import './home/footer';

//About//
@import './about/about';
@import './about/about-header';
@import './about/about-experience';
@import './about/about-team';

//Services//
@import './services/services-header';
@import './services/services_grant-writting';

//Portafolio//
@import './portafolio/portfolio'; 
//Client Review//
@import './client-review/client-review';

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}


@font-face {
  font-family: 'Myria-Pro';
  src: url(../Fonts/MYRIADPRO-REGULAR.OTF);
}

body {
  max-width: 1920px;
  min-width: 340px;
  font-family: 'Myria-Pro';
}

h2 {
    font-size: 35px;
}

p::selection {
  background-color: $color-orange;
  color: white;
}

h1::selection {
  background-color: $color-orange;
  color: white;
}

h2::selection {
  background-color: $color-orange;
  color: white;
}

h3::selection {
  background-color: $color-orange;
  color: white;
}

span::selection {
  background-color: $color-orange;
  color: white;
}
