.portfolio {
    width: 100%;
    padding: 3% 2%;
    @include --flex(column, flex-start);

    // background: $t2;

    .portfolio-title {
        @include title(flex-start, 300px);
        align-self: flex-start;
        font-size: $X;

        .portfolio-title__line {
            @include tittle-line(100%);
        }
    }

    .portfolio-nav {
        margin-top: 5vh;
        display: flex;

        .porfolio-nav__line {
            margin: 0 10px;
            height: 100%;
            width: 3px;
            background: $color-orange;
            color: $color-orange;
        }

        .portfolio-blue {
            background: $color-blue;
            color: $color-blue;
        }

        .porfolio-nav__links {
            @include flex-around(row);
            gap: 30px;

            button {
                cursor: pointer;
                width: auto;
                background: none;
                outline: none;
                border: none;
                color: $color-blue;
                font-size: $S;
                transition: all 0.2s;

                &:hover {
                    transform: translateY(-10%);
                    color: $color-orange;
                }

                &:focus {
                    color: $color-orange;
                }
            }

            .portfolio-focused {
                color: $color-orange;
            }

            .portfolio-color-blue {
                color: $color-blue;
            }


        }
    }

    .container {
        width: 100%;
        height: 50%;
        overflow-x: hidden;
        margin-top: 10vh;

        .slider {
            width: 400%;
            height: 100%;
            justify-content: center;
            align-items: center;
            position: relative;
            //   gap: 5px;
            display: flex;
            align-items: center;
            transition: all 0.4s ease-in-out;

            .slide {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .portfolio-slide__title-container {
                    @include flex-center;
                    width: 100%;
                    height: 150px;
                    gap: 5%;

                    h1 {
                        color: $color-blue;
                    }

                    .divider {
                        height: 70%;
                        width: 15px;
                        background: rgb(239, 142, 50);
                        background: linear-gradient(90deg, rgba(239, 142, 50, 1) 20%, rgba(245, 246, 247, 0) 86%);
                    }

                    p {
                        width: 50%;
                    }
                }
            }
        }
    }
}