.portfolio {
    width: 100%;
    padding: 3% 2%;
    @include --flex(column, flex-start);

    // background: $t2;

    .portfolio-title {
        @include title(flex-start, 300px);
        align-self: flex-start;
        font-size: $X;

        .portfolio-title__line {
            @include tittle-line(100%);
        }
    }

    // Portfolio nav // 
    .portfolio-nav {
        margin-top: 5vh;
        @include flex-center;

        .porfolio-nav__line {
            margin: 0 20px;
            height: 100%;
            width: 3px;
            background: $color-orange;
            color: $color-orange;
        }

        .portfolio-blue {
            background: $color-blue;
            color: $color-blue;
        }

        .porfolio-nav__links {
            @include flex-around(row);
            gap: 50px;


            button {
                cursor: pointer;
                width: auto;
                background: none;
                outline: none;
                border: none;
                color: $color-blue;
                font-size: $S;
                transition: all 0.2s;
                text-align: start;


                &:hover {
                    transform: translateY(-10%);
                    color: $color-orange;
                }

                &:focus {
                    color: $color-orange;
                }
            }

            .portfolio-focused {
                color: $color-orange;
            }

            .portfolio-color-blue {
                color: $color-blue;
            }


        }
    }


    // Portfolio Slider //
    .container {
        width: 100%;
        // height: 50%;
        overflow-x: hidden;
        // overflow-y: hidden;
        margin-top: 10vh;

        .slider {
            width: 400%;
            height: 100%;
            justify-content: center;
            align-items: center;
            position: relative;
            //   gap: 5px;
            display: flex;
            align-items: center;
            transition: all 0.4s ease-in-out;


            .slide {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            // Portfolio Slide -------------------------- //
            .portfolio-slide {
                @include --flex(column, center);

                // Portfolio Title //
                .portfolio-slide__title-container {
                    @include flex-center;
                    width: 100%;
                    height: 150px;
                    gap: 5%;

                    h1 {
                        color: $color-blue;

                        @media screen and(max-width: 960px) {
                            font-size: $M;
                        }
                    }

                    .divider {
                        height: 70%;
                        width: 15px;
                        background: rgb(239, 142, 50);
                        background: linear-gradient(90deg, rgba(239, 142, 50, 1) 20%, rgba(245, 246, 247, 0) 86%);
                    }

                    p {
                        color: $color-blue;
                        width: 50%;
                        font-size: $S;

                        @media screen and(max-width: 960px) {
                            font-size: $XS;
                        }
                    }
                }

                // Portfolio Grid //
                .portfolio-grid {
                    width: 100%;
                    height: 120vh;
                    max-height: 1200px;
                    display: grid;
                    grid: repeat(2, 50%) / repeat(2, 50%);
                    gap: 0.5%;

                    // Portfolio General Section //
                    .portfolio-grid__section {
                        width: 98%;
                        height: 98%;
                        background: white;
                        @include flex-center;
                        // border: solid rgba(0, 0, 0, 0.252) 0.5px;
                        transition: all 0.2s ease-in-out;

                        p {
                            text-align: justify;
                        }

                        &:hover {
                            transform: translateY(-5%) scale(1.03);
                            -webkit-box-shadow: 13px 14px 11px -13px rgba(0, 0, 0, 0.49);
                            -moz-box-shadow: 13px 14px 11px -13px rgba(0, 0, 0, 0.49);
                            box-shadow: 13px 14px 11px -13px rgba(0, 0, 0, 0.49);

                        }
                    }

                    .portfolio-grid__section-1 {
                        grid-area: 1/1/2/2;
                        @include --flex(column, center);

                        .img-container {
                            @include cont-img(100%, 50%);
                        }

                        .info {
                            @include flex-between(row);
                            width: 100%;
                            height: 50%;

                            .info-bar {
                                width: 15px;
                                height: 40%;
                                background: $color-blue;
                            }

                            p {
                                width: 50%;
                                margin-right: 3%;
                                text-align: start;
                                text-align: justify;

                                span {
                                    font-size: $S;
                                    font-weight: bold;
                                    color: $color-blue;
                                }

                                b {
                                    margin-top: 10px;
                                }

                                a {
                                    color: $color-blue;
                                    text-decoration: none;
                                    font-weight: bold;
                                }

                                @media screen and(max-width: 960px) {
                                    width: 60%;
                                }
                            }
                        }
                    }

                    .portfolio-grid__section-2 {
                        grid-area: 1/2/2/3;
                        @include flex-between(row);

                        .img-container {
                            @include cont-img(50%, 100%);
                            order: 2;
                        }

                        .info {
                            @include flex-between(column);
                            width: 50%;
                            height: 100%;
                            order: 1;

                            .info-bar {
                                height: 15px;
                                width: 40%;
                                background: #87C3CA;
                            }

                            p {
                                text-align: start;
                                text-align: justify;
                                height: 50%;
                                margin: 3% 15%;

                                span {
                                    font-size: $S;
                                    font-weight: bold;
                                    color: #87C3CA;
                                }

                                b {
                                    margin-top: 10px;
                                }

                                a {
                                    color: #87C3CA;
                                    text-decoration: none;
                                    font-weight: bold;
                                }



                                @media screen and(max-width: 1200px) {
                                    height: 70%;
                                }
                            }
                        }
                    }

                    .portfolio-grid__section-3 {
                        grid-area: 2/1/3/2;

                        @include flex-between(row);

                        .img-container {
                            @include cont-img(50%, 100%);
                        }

                        .info {
                            @include flex-between(column);
                            width: 50%;
                            height: 100%;

                            .info-bar {
                                height: 15px;
                                width: 40%;
                                background: $color-orange;
                            }

                            p {
                                height: 50%;
                                margin: 3% 15%;
                                text-align: start;
                                text-align: justify;

                                span {
                                    font-size: $S;
                                    font-weight: bold;
                                    color: $color-orange;
                                }

                                b {
                                    margin-top: 10px;
                                }

                                a {
                                    color: $color-orange;
                                    text-decoration: none;
                                    font-weight: bold;
                                }

                                @media screen and(max-width: 960px) {
                                    height: 50%;
                                }
                            }
                        }

                    }

                    .portfolio-grid__section-4 {
                        grid-area: 2/2/3/3;
                        @include --flex(column, center);

                        .img-container {
                            @include cont-img(100%, 60%);
                        }

                        .info {
                            @include flex-between(row);
                            width: 100%;
                            height: 40%;

                            .info-bar {
                                width: 15px;
                                height: 40%;
                                background: rgb(158, 158, 158);
                                order: 2;
                            }

                            p {
                                width: 50%;
                                margin-left: 3%;
                                order: 1;
                                text-align: start;
                                text-align: justify;

                                span {
                                    font-size: $S;
                                    font-weight: bold;
                                    color: rgb(158, 158, 158);
                                }

                                b {
                                    margin-top: 10px;
                                }

                                a {
                                    color: rgb(158, 158, 158);
                                    text-decoration: none;
                                    font-weight: bold;
                                }

                                @media screen and(max-width: 960px) {
                                    width: 60%;
                                }
                            }
                        }
                    }


                }

                // Media Querys -------------------------------------- //
                @media screen and(max-width: 960px) {

                    .portfolio-slide {}

                    // Portfolio Grid //
                    .portfolio-grid {
                        width: 100%;
                        height: 120vh;
                        max-height: 1200px;
                        display: grid;
                        grid: repeat(2, 50%) / repeat(2, 50%);
                        gap: 0.5%;



                        // Portfolio General Section //
                        .portfolio-grid__section {
                            width: 98%;
                            height: 98%;
                            background: white;
                            @include flex-center;
                            -webkit-box-shadow: 13px 14px 11px -13px rgba(0, 0, 0, 0.49);
                            -moz-box-shadow: 13px 14px 11px -13px rgba(0, 0, 0, 0.49);
                            box-shadow: 13px 14px 11px -13px rgba(0, 0, 0, 0.49);


                            p {
                                text-align: justify;
                            }
                        }

                        // Mobile Portfolio Section //
                        .portfolio-grid__section-mobile {
                            @include --flex(column, center);

                            .img-container {
                                @include cont-img(100%, 50%);
                                order: 1
                            }

                            .info {
                                @include flex-between(column);
                                width: 100%;
                                height: 50%;
                                margin-top: 20px;
                                padding: 0% 2%;
                                order: 2;


                                .info-bar {
                                    width: 50%;
                                    height: 10px;
                                    order: 2;
                                }

                                p {
                                    order: 1;
                                    width: 90%;
                                    text-align: start;
                                    text-align: justify;

                                    span {
                                        font-size: $S;
                                        font-weight: bold;
                                    }

                                    b {
                                        margin-top: 10px;
                                    }

                                    a {
                                        text-decoration: none;
                                        font-weight: bold;
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}