.portfolio {
    width: 100%;
    padding: 3% 2%;
    @include --flex(column, flex-start);

    // background: $t2;

    .portfolio-title {
        @include title(flex-start, 300px);
        align-self: flex-start;
        font-size: $X;

        .portfolio-title__line {
            @include tittle-line(100%);
        }
    }

    // Portfolio nav // 
    .portfolio-nav {
        margin-top: 5vh;
        @include flex-center;

        .porfolio-nav__line {
            margin: 0 20px;
            height: 100%;
            width: 3px;
            background: $color-orange;
            color: $color-orange;
        }

        .portfolio-blue {
            background: $color-blue;
            color: $color-blue;
        }

        .porfolio-nav__links {
            @include flex-around(row);
            gap: 50px;


            button {
                cursor: pointer;
                width: auto;
                background: none;
                outline: none;
                border: none;
                color: $color-blue;
                font-size: $S;
                transition: all 0.2s;
                text-align: start;


                &:hover {
                    transform: translateY(-10%);
                    color: $color-orange;
                }

                &:focus {
                    color: $color-orange;
                }
            }

            .portfolio-focused {
                color: $color-orange;
            }

            .portfolio-color-blue {
                color: $color-blue;
            }


        }
    }


    // Portfolio Slider //
    .container {
        width: 100%;
        // height: 50%;
        overflow-x: hidden;
        overflow-y: hidden;
        margin-top: 10vh;

        .slider {
            width: 400%;
            height: 100%;
            justify-content: center;
            align-items: center;
            position: relative;
            //   gap: 5px;
            display: flex;
            align-items: center;
            transition: all 0.4s ease-in-out;


            .slide {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            // Portfolio Slide -------------------------- //
            .portfolio-slide {
                @include --flex(column, center);

                // Portfolio Title //
                .portfolio-slide__title-container {
                    @include flex-center;
                    width: 100%;
                    height: 150px;
                    gap: 5%;

                    h1 {
                        color: $color-blue;
                    }

                    .divider {
                        height: 70%;
                        width: 15px;
                        background: rgb(239, 142, 50);
                        background: linear-gradient(90deg, rgba(239, 142, 50, 1) 20%, rgba(245, 246, 247, 0) 86%);
                    }

                    p {
                        width: 50%;
                    }
                }

                // Portfolio Grid //
                .portfolio-grid {
                    width: 100%;
                    height: 120vh;
                    display: grid;
                    grid: repeat(2, 50%) / repeat(2, 50%);
                    gap: 10px;

                    // Portfolio General Section //
                    .portfolio-grid__section {
                        width: 100%;
                        height: 100%;
                        @include flex-center;
                        -webkit-box-shadow: 13px 14px 11px -13px rgba(0, 0, 0, 0.49);
                        -moz-box-shadow: 13px 14px 11px -13px rgba(0, 0, 0, 0.49);
                        box-shadow: 13px 14px 11px -13px rgba(0, 0, 0, 0.49);
                        border: solid black 1px;
                    }

                    .portfolio-grid__section-1 {
                        grid-area: 1/1/2/2;
                        @include --flex(column, center);

                        .img-container {
                            @include cont-img(100%, 50%);
                        }

                        .info {
                            @include flex-between(row);
                            width: 100%;
                            height: 50%;

                            .info-bar {
                                width: 15px;
                                height: 40%;
                                background: $color-orange;
                            }

                            p {
                                width: 60%;
                                margin-right: 3%;
                            }
                        }
                    }

                    .portfolio-grid__section-2 {
                        grid-area: 1/2/2/3;
                        background: $t3;
                    }

                    .portfolio-grid__section-3 {
                        grid-area: 2/1/3/2;
                        background: $t4;

                    }

                    .portfolio-grid__section-4 {
                        grid-area: 2/2/3/3;
                        background: $t2;
                    }


                }
            }
        }
    }
}