.client-review {
    @include --flex(column, center);

    .client-review__title {

        @include title(flex-start, 300px);
        font-size: $X;
        align-self: flex-start;
        margin-left: 50px;
        margin-bottom: 50px;
        margin-top: 50px;

        
        @media screen and(max-width: 500px) {
            margin-left: 20px;
            margin-top: 50px;
            margin-bottom: 30px;
            @include title(flex-start, 250px);
        }
      

        .client-review__title-line {
            @include tittle-line(100%);
            
        }

        @media screen and(max-width: 500px) {
            margin-left: 20px;
            margin-top: 50px;
            margin-bottom: 30px;
        }
    }

    .client-review__clients-container{
        width: 100%;
        height: auto;
        @include flex-center;
        flex-wrap: wrap;
        gap: 50px;
        margin-bottom: 50px;
    }
}