.services-header {
  width: 100%;
  height: 1000px;
  position: relative;
  @include flex-center;

  .serices-header__bg {
    @include img;
  }

  .services-header__container {
    width: 90%;
    height: 95%;
    position: absolute;
    @include --flex(column, center);

    .services-header__top {
      padding: 50px;
      width: 100%;
      height: 30%;
      @include flex-between(column);

      .services-header__title {
        @include title(flex-start, 200px);
        color: white;
        font-size: $X;
        align-self: flex-start;

        .services-header__line {
          @include tittle-line(100%);
          background: white;
        }
      }

      .services-header__info {
        @include flex-between(column);
        gap: 20px;

        h2 {
          color: white;
          font-size: $X;
        }

        p {
          display: flex;
          text-align: justify;
          gap: 40px;
          @include flex-between(row);
          width: 55%;
          min-width: 750px;
          font-size: $S;
          color: white;

          img {
            @include img-square(100px);
          }
        }
      }
    }
    .services-header__bottom {
      width: 100%;
      height: 70%;
      @include flex-center;

      .services-header__bottom-container {
        width: 95%;
        max-width: 1100px;
        height: 95%;
        @include flex-center;
        flex-wrap: wrap;
        gap: 70px;

        .services-header__item {
          @include img-square(250px);
          @include --flex(column, center);
          gap: 20px;
          background: white;

          img {
            width: 50%;
            height: 50%;
          }

          h3 {
            text-align: center;
            width: 50%;
            color: $color-blue;
            font-size: $L;
          }
        }
      }
    }
  }
}

// Media Querys // -----------------------

@media screen and(max-width: 925px) {
  .services-header {
    width: 100%;
    //
    height: 1000px;
    position: relative;
    @include flex-center;

    .serices-header__bg {
      @include img;
    }

    .services-header__container {
      //
      width: 95%;
      height: 95%;
      position: absolute;
      @include --flex(column, center);

      .services-header__top {
        //
        padding: 0px;
        padding-bottom: 20px;
        width: 100%;
        height: 30%;

        @include flex-between(column);

        .services-header__title {
          @include title(flex-start, 200px);
          color: white;
          font-size: $X;
          align-self: flex-start;

          .services-header__line {
            @include tittle-line(100%);
            background: white;
          }
        }

        .services-header__info {
          @include flex-between(column);
          gap: 20px;

          h2 {
            color: white;
            font-size: $X;
          }

          p {
            display: flex;
            gap: 40px;
            @include flex-between(row);
            width: 100%;
            min-width: 500px;
            font-size: $S;
            color: white;

            img {
              @include img-square(100px);
            }
          }
        }
      }

      .services-header__bottom {

        .services-header__bottom-container {
          .services-header__item {
            //
            @include img-square(200px);

            h3 {
              font-size: $M;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 500px) {
  .services-header {
    width: 100%;
    //
    height: 1000px;
    position: relative;
    @include flex-center;

    .serices-header__bg {
      @include img;
    }

    .services-header__container {
      //
      width: 95%;
      height: 95%;

      .services-header__top {
        //
        padding: 0px;
        padding-bottom: 20px;
        width: 95%;
        height: 30%;
        @include flex-between(column);

        .services-header__info {
          //
          gap: 20px;

          h2 {
            //
            font-size: $L;
          }

          p {
            //
            min-width: 350px;
            //
            font-size: $XS;
            gap: 15px;
            img {
              @include img-square(70px);
            }
          }
        }
      }

      .services-header__bottom {
        width: 100%;
        height: 70%;
        @include flex-center;

        .services-header__bottom-container {
          width: 95%;
          max-width: 1100px;
          height: 95%;
          @include flex-center;
          flex-wrap: wrap;
          gap: 15px;

          .services-header__item {
            @include img-square(150px);
            @include --flex(column, center);
            gap: 10px;
            background: white;

            img {
              width: 50%;
              height: 50%;
            }
          }
        }
      }
    }
  }
}
