.about-us__principals {
  margin-top: 100px;
  width: 100%;
  @include --flex(column, center);

  .about-us__principals-title {
    @include title(center, 350px);
    font-size: $X;
    margin-bottom: 50px;

    .about-us__principals-tittle-line {
      @include tittle-line(100%);
    }
  }

  .about-us__principals-container {
    width: 95%;
    @include flex-between(row);

    .principal-container {
      width: 49%;
      min-height: 655px;
      padding: 3% 7%;
      background: $color-blue;
      color: white;

      img {
        width: 300px;
      }

      @include --flex(column, center);

      h2 {
        text-align: center;
        color: $color-orange;
        margin: 30px 0;

        span {
          color: white;
          font-size: $M;
        }
      }

      p {
        font-size: $S;
        text-align: justify;
      }
    }
  }
}
