.about-us {
  width: 100%;
  height: 2400px;
  display: flex;
  flex-direction: column;
  background-image: url("../../img/about/aboug-bg.png");

  @media screen and(max-width:1115px) {
    height: 2800px;
  }

  @media screen and(max-width:600px) {
    height: 2700px;
  }

  @media screen and(max-width:730px) {
    height: 4200px;
  }

  @media screen and(max-width:550px) {
    height: 4900px;
  }

  @media screen and(max-width:550px) {
    height: 4900px;
  }

  @media screen and(max-width:500px) {
    height: 3800px;
  }

  .about-us__container {
    width: 100%;
    height: 100%;
    position: absolute;
    min-width: 340px;
    max-width: 1920px;
  }
}
