.about-us {
    width: 100%;
    height: 2300px;
    display: flex;
    flex-direction: column;
    background-image: url("../../img/about/aboug-bg.png");
    
   @media screen and(max-width:970px) {
    height: 2500px;
   }

   @media screen and(max-width:600px) {
    height: 2700px;
   }

   @media screen and(max-width:557px) {
    height: 3200px;
   }

   @media screen and(max-width:500px) {
    height: 2900px;
   }

   @media screen and(max-width:410px) {
    height: 3600px;
   }


    .about-us__container{
        width: 100%;
        height: 100%;
        position: absolute;
      
    }
}