.about-team {
  width: 100%;
  height: auto;
  @include flex-center;
  padding-bottom: 100px;

  .about-team__container {
    width: 90%;
    max-width: 1700px;
    min-width: 1400px;
    gap: 50px;
    @include flex-around(column);

    .about-team__title {
      @include title(center, 250px);
      font-size: $X;
      .about-team__line {
        @include tittle-line(100%);
      }
    }

    .about-team__team {
      @include flex-center;
      gap: 10px;
      flex-wrap: wrap;

      // Item // 
      .about-team__item {
        @include flex-around(column);
        gap: 15px;
        width: 450px;
        margin-bottom: 50px;

        img {
          @include img-square(250px);
        }

        h2 {
          color: $color-orange;
        }

        p {
          width: 85%;
          font-size: $S;
          text-align: justify;
        }
      }
    }
  }
}

// Media Querys // --------------------- 
@media screen and(max-width: 1400px) {
    .about-team {
        width: 100%;
        height: auto;
        @include flex-center;
      
        .about-team__container {
          width: 95%;
          //
          max-width: 1200px;
          min-width: 1000px;
          
          //
          min-width: 500px;
          gap: 50px;
          @include flex-around(column);

          .about-team__team {
            gap: 30px;
            .about-team__item {
              @include flex-around(column);
              gap: 5px;
              width: 350px;
      
              img {
                @include img-square(200px);
              }
      
              h2 {
                color: $color-orange;
              }
      
              p {
                font-size: $S;
                text-align: justify;
              }
            }
          }
        }
      } 
}

@media screen and(max-width: 1200px) {
    .about-team {
        width: 100%;
        height: auto;
        @include flex-center;
      
        .about-team__container {
          width: 100%;
          
          //
          min-width: 550px;
          gap: 50px;
          @include flex-around(column);
        }
      } 
}

@media screen and(max-width: 500px) {
    .about-team {   
        .about-team__container {
          width: 90%;
          //
          min-width: 350px;
          max-width: 370px;
          gap: 50px;
          @include flex-around(column);
      
          .about-team__title {
            //
            @include title(center, 150px);
            font-size: $X;
            .about-team__line {
              @include tittle-line(100%);
            }
          }
      
          .about-team__team {
            @include flex-center;
            //
            gap: 40px;
            flex-wrap: wrap;
            .about-team__item {
              gap: 7px;
              margin-bottom: 0px;
      
              img {
                //
                @include img-square(150px);
              }
      
              h2 {
                color: $color-orange;
                //
                font-size: $L;
              
              }

              p {
                font-size: $XS;
              }
            }
          }
        }
      } 
}