// About Us PRINCIPALS // ====================
.about-us__principals {
  margin-top: 100px;

  @media screen and (max-width: 530px) {
    margin-top: 0px;
  }
  width: 100%;
  @include --flex(column, center);

  .about-us__principals-title {
    @include title(center, 350px);
    font-size: $X;
    margin-bottom: 70px;

    .about-us__principals-tittle-line {
      @include tittle-line(100%);
    }
  }

  .about-us__principals-container {
    width: 95%;
    @include flex-between(row);

    @media screen and(max-width: 800px) {
      @include --flex(column, center);
      gap: 50px;
    }

    .principal-container {
      width: 49%;
      padding: 0 5%;
      padding-bottom: 5%;
      background: $color-orange;
      color: white;
      @include --flex(column, center);

      @media screen and(max-width: 800px) {
        width: 95%;
        max-width: 600px;
      }

      img {
        width: 300px;
        transform: translateY(-20%);

        @media screen and(max-width:925px) {
          width: 200px;
        }
      }

      h2 {
        text-align: center;
        // color: $color-orange;
        margin-bottom: 30px;

        span {
          color: white;
          font-size: $M;
        }
      }

      p {
        font-size: $S;
        text-align: justify;
      }
    }
  }
}

// =============================================


// DESKTOP || About Us TEAM ==================================
.about-us__team {
  @include --flex(column, center);

  // Breakpoint //
  @media screen and(max-width: 1000px) {
    display: none;
  }

  margin-top: 150px;

  // Title//
  .about-us__team-title {
    @include title(flex-start, 800px);
    align-self: flex-start;
    font-size: $X;
    margin-bottom: 50px;
    margin-left: 2.5%;

    .about-us__team-title-line {
      @include tittle-line(100%);
    }
  }

  // Slider // -----------------------------------
  .container {
    width: 100%;
    overflow-x: hidden;

    .slider {
      width: 400%;
      height: 100%;
      justify-content: center;
      align-items: center;
      position: relative;
      gap: 5px;
      display: flex;
      transition: all 2s ease-in-out;

      .slide {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .about-us__team-container {
          width: 85%;
          max-width: 1500px;
          @include flex-between(row);

          .team-container {
            width: 30%;
            max-width: 400px;
            position: relative;
            margin-top: 70px;
            padding: 0% 3%;
            padding-bottom: 3%;
            padding-top: 13%;
            background: $color-blue;
            color: white;

            @media screen and(max-width: 1500px) {
              padding-top: 15%;
            }

            img {
              width: 200px;
              position: absolute;
              transform: translateY(-115%);

              @media screen and(max-width: 1160px) {
                width: 170px;
                transform: translateY(-135%);
              }
            }

            @include --flex(column, center);

            h2 {
              text-align: center;
              color: $color-orange;
              margin-bottom: 20px;
              font-size: $M;

              span {
                color: white;
                font-size: $S;
              }
            }

            p {
              font-size: $XS;
              text-align: justify;
            }
          }
        }
      }
    }
  }
}

// MOBILE || About Us TEAM ==================================
.mobile-about-us__team {
  @include --flex(column, center);

  @media screen and (max-width: 530px) {
    margin-top: 70px;
  }
  
  display: none;

  // Breakpoint //
  @media screen and(max-width: 1000px) {
    display: flex;
  }
  margin-top: 150px;

  // Title//
  .about-us__team-title {
    @include title(center, 90%);
    text-align: center;
    height: 40px;

    @media screen and(max-width: 500px) {
      height: 80px;
    }
    
    font-size: $M;
    margin-bottom: 20px;

    .about-us__team-title-line {
      @include tittle-line(100%);
    }
  }

  // Slider // -----------------------------------
  .container {
    width: 100%;
    overflow-x: hidden;

    .slider {
      width: 400%;
      max-height: 600px;
      // height: 100%;
      justify-content: center;
      align-items: center;
      position: relative;
      gap: 5px;
      display: flex;
      transition: all 0.3s ease-in-out;

      .slide {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .about-us__team-container {
          width: 100%;
          max-width: 1500px;
          @include flex-center;
          align-items: flex-start;

          .team-container {
            width: 70%;
            max-width: 500px;
            min-height: 400px;
            position: relative;
            margin-top: 70px;
            padding: 0% 7%;
            padding-bottom: 5%;
            padding-top: 50%;
            background: $color-blue;
            color: white;

            @media screen and(max-width: 1500px) {
              padding-top: 15%;
            }

            img {
              width: 250px;
              position: absolute;
              transform: translateY(-115%);

              @media screen and(max-width: 1160px) {
                width: 170px;
                transform: translateY(-120%);
              }
            }

            @include --flex(column, center);

            h2 {
              text-align: center;
              color: $color-orange;
              margin-bottom: 20px;
              font-size: $M;

              span {
                color: white;
                font-size: $S;
              }
            }

            p {
              font-size: $XS;
              text-align: justify;
            }
          }
        }
      }
    }
  }
}