.h-about {
  width: 100%;
  height: 60vh;
  min-height: 450px;
  max-height: 600px;
  background: none;

  .h-about__cont-img {
    @include cont-img(1500px, 100%);
  }

  .h-about__cont-info {
    width: 100%;
    height: 100%;
    @include flex-center;

    .h-about__info {
      width: 90%;
      height: 95%;
      @include flex-around(column);

      .h-about__info-cont-title {
        width: 80%;
        @include --flex(row, flex-end);
        height: 10%;

        .h-about__info-title {
          @include title(flex-end, 250px);
          color: $color-orange;
          .h-about__info-line {
            @include tittle-line(100%);
            background: $color-orange;
          }
        }
      }

      p {
        height: 80%;
        width: 90%;
        font-size: $S;
        text-align: justify;
      }
    }
  }
}

// Media Querys // -----------------------------
@media screen and(max-width: 1160px) {
  .h-about {
    width: 100%;
    height: 50vh;
    min-height: 350px;
    max-height: 500px;
    background: none;

    .h-about__cont-img {
      @include cont-img(40%, 100%);
    }

    .h-about__cont-info {
      width: 70%;
      height: 100%;
      @include flex-center;

      .h-about__info {
        width: 90%;
        height: 95%;
        @include flex-around(column);

        .h-about__info-cont-title {
        }

        // p {
        //   font-size: $XS;
        // }
      }
    }
  }
}

@media screen and(max-width: 1160px) {
  .h-about {
    width: 100%;
    height: 50vh;
    min-height: 350px;
    max-height: 500px;
    background: none;

    .h-about__cont-img {
      @include cont-img(40%, 100%);
    }

    .h-about__cont-info {
      width: 70%;
      height: 100%;
      @include flex-center;

      .h-about__info {
        width: 90%;
        height: 95%;
        @include flex-around(column);

        .h-about__info-cont-title {
        }

        p {
          font-size: $XS;
        }
      }
    }
  }
}

@media screen and(max-width: 730px) {
  .h-about {
    width: 100%;
    height: 500px;
    min-height: 600px;
    max-height: 600px;
    background: none;
    @include --flex(column, none);

    .h-about__cont-img {
      @include cont-img(100%, auto);
      min-height: 300px;
      // img {
      //   height: 400px;
      // }
    }

    .h-about__cont-info {
      width: 90%;
      height: 100%;
      @include flex-center;

      .h-about__info {
        width: 95%;
        height: 300px;
        @include flex-around(column);
        transform: translateY(-20%);

        .h-about__info-cont-title {
          width: 100%;
          @include --flex(row, flex-start);
          height: 15%;
          margin-bottom: 50px;

          .h-about__info-title {
            @include title(flex-start, 250px);
            color: white;
            .h-about__info-line {
              @include tittle-line(60%);
              background: white;
            }
          }
        }

        p {
          height: 80%;
          width: 100%;
          font-size: $S;
          text-align: justify;
        }
      }
    }
  }
}

@media screen and(max-width: 530px) {
  .h-about {
    width: 100%;
    height: 800px;
    min-height: 800px;
    max-height: 800px;

    .h-about__cont-img {
    }

    .h-about__cont-info {
      .h-about__info {
        width: 95%;
        height: 300px;
        @include flex-around(column);
        transform: translateY(-40%);
      }
    }
  }
}
