.h-about {
    width: 100%;
    height: 60vh;
    min-height: 450px;
    background: none;

    .h-about__cont-img{
        width: 1500px;
        height: 100%;
        img {
            @include img(100%, 100%);
        }
    }

    .h-about__cont-info {
        width: auto;
        height: 100%;
        @include flex-center;

        .h-about__info {
            width: 90%;
            height: 95%;    
            @include flex-around(column);  

            .h-about__info-cont-title {
                width: 80%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 10%;

                .h-about__info-title{
                    @include title(flex-end, 250px);
                    color: $color-orange;
                    .h-about__info-line{
                        @include tittle-line(100%);
                        background: $color-orange;
                    }
                }
                
            }

            p {
                height: 80%;
                width: 90%;
                font-size: $S;
            }
        }
    }


}

